.preloader {
    padding: 20px;
}

.preloader__icon {
    width: 250px;
    background-color: transparent;
}

.preloader__text {
    margin: 20px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    .preloader__icon {
        width: 200px;
    }
}