/* footer */
.footer {
    margin: 0;
    padding: 30px 40px 26px;
    background-color: rgba(252, 237, 218, 1);
    display: flex;
    justify-content: space-between;
}

.footer__watermark {
    max-width: 433px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.footer__navigation {
    margin: 0;
}

.footer__link-container {
    margin: 0;
}

.footer__text-link-container {
    display: flex;
    gap: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer__link {
    color: rgba(26, 27, 34, 1);
    text-decoration: none;
}